.background-container {
    height: 100vh;
    background-image: url('./assets/image/home.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-text {
    font-size: 2em;
    color: white;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px;
    border-radius: 10px;
}